@font-face {
  font-family: "Geist Sans";
  font-weight: 100;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-Thin.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 200;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-ExtraLight.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-Light.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-Regular.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-Medium.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-SemiBold.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-Bold.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 800;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-ExtraBold.woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-weight: 900;
  font-style: normal;
  src: url("./assets/fonts/geist-sans/webfonts/Geist-Black.woff2");
}
